@inherits LayoutComponentBase
<LeftNavMenu />
<main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <TopNavMenu />
    <div class="container-fluid py-2">
        @Body        
    </div>
</main>
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
