@page "/Location"
@using Happy.EFCore.Models
@using Happy.Services.Interfaces
@rendermode InteractiveServer
@inject INeighborhoodService NeighborhoodService

<PageTitle>Location</PageTitle>

<h4>Location</h4>

<p>This component demonstrates showing data.</p>

@if (neighborhoods == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Zip Code</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var neighborhood in neighborhoods)
            {
                <tr>
                    <td>@neighborhood.ZipCode</td>
                    <td>@neighborhood.NeighborhoodName</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private IEnumerable<Neighborhood> neighborhoods = null!;

    protected override async Task OnInitializedAsync()
    {
        neighborhoods = await NeighborhoodService.GetAllAsync();
    }
}
